@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "JetBrains Mono", monospace;
}

body,
main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#4986d0, #1254be) !important;
}

.invisible {
  display: none !important;
}
.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* background: linear-gradient(#4986d0, #1254be) !important; */
}
.login {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  height: 90%;
  width: 50%;
  /* margin-top:-10%; */
}
.login-form {
  /* border: solid 1px black; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.login-form input {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 70px;
  border: white 4px solid;
  outline: none;
  margin-bottom: 20px;
  outline: none;
  font-size: 22px;
}

.btn-iniciar {
  background-color: #5ce1e6;
  font-weight: bold;
  width: 35%;
  height: 70px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border: white 4px solid;
  margin-top: 20px;
  border: 3px solid #c7f8f9;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.btn-iniciar:hover {
  /* background-color: #5bc9ff; */
  color: black;
  /* border: white 4px solid; */
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border: 5px solid #6ab1c9;
}

.intentos-agotados {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  /* margin-bottom: 20%; */
}

.intentos-agotados h1 {
  color: white;
  /* margin-bottom: 20%; */
}
.intentos-agotados a {
  font-size: 150%;
  color: #5ce1e6;
  /* outline: none; */
  text-decoration: none;
}

.intentos-agotados a:hover {
  /* color: white !important; */
  /* border: 5px; */
  color: #40e0e6;
  font-weight: bold;
  text-decoration: underline !important;
}

.mensaje-error {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 12%;
}

.logo {
  text-align: center;
  margin-top: 9%;
  /* margin-bottom: 1%; */
}

.login-form input::placeholder {
  text-align: center;
  color: grey;
  font-size: 22px;
  font-weight: bold;
  opacity: 50%;
}
