@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  color: white;
 
}
body{
  height: 100%;
  background: linear-gradient(#4986d0, #1254be) !important;
}

/* 1) Login - @juliana */

/* 2) Vista principal - juliana */
.principal{
  background: linear-gradient(#4986d0, #1254be) !important;
  font-size: 100%;
  font-weight: 100%;
  height: 100vh;
  

}
.titulo{
  text-align: center;
}

.botones-trasacciones{
  text-align: center;
  padding: 20px;
}

.vista-principal{

width: 100%;
height: auto;

}

.transacciones{
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 /*  height: 100%; */
}


/* 3) Retirar dinero - juliana */
.retirar{
  background-color: blueviolet;
  margin: 1%;
  width: 90%;
  height: 70%;
}


/* 4) Transferir dinero - Xiomara */
.transferir{
  display: flex;
  /* height: 100%; */
  font-size: larger;
  border-radius: 20px ;
  width: 100%;
  border: solid 2px black;
  padding: 1%;
  gap: 5%;
  justify-content: center;

  
}
.form-transferir{
  text-align: center;
  width: 25%;
  display: inline-block;
  height:100%;
  font-size: large;
  border-radius: 20px ;
  border: 4px solid white

}
.form-transferir input::placeholder {
  color: white;

}
.form-transferir input{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 85%;
  border-radius: 20px ;
  text-align: center;
  background: transparent;

  border: 3px solid white;
  outline: none;
  
  
}

.btn-transferir{
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 90%;
  border-radius: 20px ;
  text-align: center;
  background: transparent;
  border: 3px solid white
}
.btn-transferir:hover{
  background-color: white;
  color: black;
}
.tabla-transferir{
  /* width: 60%; */
 
}
.tabla-transferir tr {
  /* height: 50%; */
 /*  width:10% ; */
  border: solid 2px black;
  
  
}
.tabla-transferir td{
  border-radius: 20px ;
  border: 2px solid white
  
}
thead{
  border-radius: 20px ;
}

/* 5) Consultar saldo - Xiomara */
.consultar{
  width: 50%;
}
.consultar input{
  
  padding: 5%;
  margin: 5%;
  font-size: 150%;
  color: white;
  align-items: center;
  width: 100%;
  border-radius: 20px ;
  border: 4px solid white
}

/* 6) Consignar dinero - Xiomara  */
.consignar{
  height: 200px;
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 50%;
  align-items: center;
  border-radius: 20px ;
  border: 4px solid white
  
}
.form-consignar{
  gap: 20%;
  height: 80%;
  margin: 5%;
  padding: 2%;
  width: 150%;
  border-radius: 20px ;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-consignar input::placeholder{
  color: white;
}
.btn-consignar:hover{
  background-color: white;
  color: black;
}
.form-consignar input{
  text-align: center;
  height: 40%;
  width: 100%;
  border-radius: 20px ;
  background: transparent;
  border: 4px solid white;
  font-size: 150%;
}

 .btn-consignar{
  width: 50%;
  height: 40%;
  background: transparent;
  color: white;
  font-size: medium;
  border-radius: 20px ;
  border: 4px solid white;
  font-size: 150%;
 
} 


.inferior{
  padding: 2%;
  /* margin-top: 8%; */
}


.invisible {
  display: none !important;
}
