@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "JetBrains Mono", monospace;
}

body,
main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#4986d0, #1254be) !important;
}

.invisible {
  display: none !important;
}
.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  /* background: linear-gradient(#4986d0, #1254be) !important; */
}
.login {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  height: 90%;
  width: 50%;
  /* margin-top:-10%; */
}
.login-form {
  /* border: solid 1px black; */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.login-form input {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: 70px;
  border: white 4px solid;
  outline: none;
  margin-bottom: 20px;
  outline: none;
  font-size: 22px;
}

.btn-iniciar {
  font-size: 16pt;
  color: white;
  /* outline: none; */
  text-decoration: none;
  outline: none;
  background-color: #5ce1e6;
  border-radius: 15px;
  border: solid 4px;
  border-color: white;
  width: 220px;
  height: 60px;
  -webkit-text-stroke: 1px white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.btn-iniciar:hover {
  /* background-color: #5bc9ff; */
  /* background-color: white; */
  color: black !important;
  border-color: #5ce1e6;
  font-size: 17pt;
  /* border: white 4px solid; */
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* border: 5px solid #5ce1e6; */
}

.intentos-agotados {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  /* margin-bottom: 20%; */
}

.intentos-agotados h1 {
  color: white;
  /* margin-bottom: 20%; */
}
.intentos-agotados button {
  font-size: 14pt;
  color: white;
  /* outline: none; */
  text-decoration: none;
  outline: none;
  background-color: #5ce1e6;
  border-radius: 15px;
  border: solid 4px;
  border-color: white;
  width: 220px;
  height: 60px;
  -webkit-text-stroke: 1px white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.intentos-agotados a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14pt;
  color: white;
  /* outline: none; */
  text-decoration: none;
  outline: none;
  background-color: #5ce1e6;
  border-radius: 15px;
  border: solid 4px;
  border-color: white;
  width: 220px;
  height: 60px;
  margin-top: 65px;
  -webkit-text-stroke: 1px white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.intentos-agotados a:hover {
  /* color: white !important; */
  /* border: 5px; */
  color: black;
  font-weight: bold;
  font-size: 15pt;
  /* background-color: white; */
  border-color: #5ce1e6;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.intentos-agotados button:hover {
  /* color: white !important; */
  /* border: 5px; */
  color: black;
  font-weight: bold;
  font-size: 15pt;
  /* background-color: white; */
  border-color: #5ce1e6;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.mensaje-error {
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 12%;
}

.logo {
  text-align: center;
  margin-top: 9%;
  /* margin-bottom: 1%; */
}

.login-form input::placeholder {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  opacity: 50%;
}
