@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  color: white;
  box-sizing: border-box;
}
body,
main {
  height: 100%;
  width: auto;
  /* border: black 5px solid; */
  background: linear-gradient(#4986d0, #1254be) !important;
}

/* 1) Login - @juliana */

/* 2) Vista principal - juliana */

.principal {
  font-size: 100%;
  font-weight: 100%;
  display: flex;
  flex-direction: column;
  gap: 83px;
  justify-content: space-evenly;
}

.titulo {
  text-align: center;
}

.botones-trasacciones {
  text-align: center;
  padding: 20px;
}

.vista-principal {
  width: 100%;
  height: auto;
}

.transacciones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*  height: 100%; */
}

/* 3) Retirar dinero - juliana */

/* 4) Transferir dinero - Xiomara */
.transferir {
  display: flex;
  /* height: 100%; */
  font-size: larger;
  border-radius: 20px;
  width: 100%;
  padding: 1%;
  gap: 3%;
  justify-content: center;
}

.form-transferir {
  text-align: center;
  width: 45%;
  padding: 1%;
  height: 470px;
  display: inline-block;
  font-size: large;
  border-radius: 20px;
  border: 4px solid white;
}

.form-transferir input::placeholder {
  color: white;
}

.form-transferir input {
  margin-top: 2%;
  height: 12%;
  margin-bottom: 2%;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
  outline: none;
}

.btn-transferir {
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 90%;
  height: 11%;
  width: 45%;
  border-radius: 20px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
}

.btn-transferir:hover {
  background-color: white;
  color: black;
}

table {
  text-align: center;
  width: 35%;
  padding: 1%;
  font-size: large;
  border-radius: 20px;
  border: 4px solid white;
  border-radius: 50px;
}

.tabla-transferir,
.thead,
.tbody {
  width: 100%;
  height: 10px;
}
.thead tr td {
  width: 200px;
  border: solid 1px white;
}

.tr td {
  width: 200px;
}

.consultar{
  padding: 1.5%;
  margin-top: 5%;
  display: flex;
  width: 56%;
  /* justify-content: center; */
  align-items: center;
  border-radius: 40px;
  border: 4px solid white;
}
.consultar input {
  background: transparent;
  padding: 2%;
  font-size: 170%;
  color: white;
  align-items: center;
  width: 45%;
  border: none;
}

/* 6) Consignar dinero - Xiomara  */
.consignar {
  /* height: ; */
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  border: 4px solid white;
}
.form-consignar {
  gap: 20%;
  height: 220px;
  margin: 5%;
  padding: 2%;
  width: 150%;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-consignar input::placeholder {
  color: white;
}
.btn-consignar:hover {
  background-color: white;
  color: black;
}
.form-consignar input {
  text-align: center;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  background: transparent;
  border: 4px solid white;
  font-size: 150%;
}

.btn-consignar {
  width: 50%;
  height: 40%;
  background: transparent;

  font-size: medium;
  border-radius: 20px;
  border: 4px solid white;
  font-size: 150%;
}

.inferior {
  padding: 2%;
 
}

.invisible {
  display: none !important;
}
.botones-trasacciones button {
  background: transparent;
  border: none;
  margin: 50px;
}
.superior {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boton-salir {
  background: transparent;
  border: none;
}

.vista-principal-titulo {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

.retirar {
  display: flex;
  gap: 7%;
  justify-content: center;
  flex-direction: row;
  width: 1000px;
  padding: 2%;
  border-radius: 15px;
}

.form-retirar {
  text-align: center;
  width: 50%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: large;
  border-radius: 20px;
  border: 4px solid white;
}
.form-retirar input {
  border: 2px solid white;
  background: transparent;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
  outline: none;
  height: 45px;
}
.form-retirar input::placeholder {
  color: white;
}
.form-retirar button {
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 90%;
  height: 45px;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  background: transparent;
  border: 3px solid white;
}
.form-retirar button:hover {
  background-color: white;
  color: black;
}
.tabla-retirar {
  text-align: center;
  width: 35%;
  padding: 1%;
  font-size: large;
  border-radius: 20px;
  border: 4px solid white;
  border-radius: 50px;
}
.tabla-retirar,
.thead,
.tbody {
  width: 50%;
  height: 10px;
}
.thead-retirar tr td {
  width: 200px;
  border: solid 1px white;
}



/* .tabla{
  width: 50%;
  height: 100%;
  margin-left: 150px;
  border-radius: 60%;
  border: 2px solid white;
*/